# disregard anomaly map images 
/anomaly_maps/
/false prediction anomaly_maps/
/false prediction image/
/false selection model/

# ipynb checkpoints 
/.ipynb_checkpoints/
codes/.ipynb_checkpoints/

# 
codes/__pycache__/*.pyc

# saved model 
save/

# Final code2 
/Final_code_master/
/Final_code_GMM/
